html, body {
    position: relative;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", Arial, sans-serif;
    color: #000;
}

.navbar {
    background-color: white;
}

.carousel {
    height: 100%;
}

.slide-carousel{
    position: relative;
    height: 32em;
}

.slide-carousel img {
    max-height: 32em;
}

.home-entry {
    height: 100%;
    position: relative;
    background: linear-gradient(217deg, rgba(0, 141, 141,.9), rgba(12,140,195,0) 70.71%),
                linear-gradient(127deg, rgba(0, 141, 141,.9), rgba(127, 200, 231,.8) 70.71%),
                linear-gradient(336deg, rgba(127, 200, 231,.8), rgba(0,0,255,0.4) 70.71%);
    padding: 0;
    margin: 0;
    
}

.home-entry h1 {
    color: #fff;
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 300;
}

.home-entry h2 {
    font-size: 2rem;
    color: #fff;
    line-height: 1.2;
    color: rgba(255, 255, 255, 0.7);
}

.home-events {}

.home-carouseul {
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel-item {
}

.carousel-caption {
    background-color: #eee;
    opacity: 0.8;
}

.carousel-caption p {
    color: #000;
}

.home-event {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    background-color: white;
    padding: 0.6em;
    box-shadow: 1px 1px 1px #888;
}

.home-event h1, h2, h3, p {
    padding: 0;
}

.home-events-button {
}

.home-title h1,h2 {
}

.home-event a, a:hover, a:visited, a:active {
    color: black;
    text-decoration-line: none;
}

.home-event:hover {
    background-color: #ddd;
}

.home-title {}

.home-event-summary {
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.services-entry {
    background-color: #fff;
    position: relative;
    height: 100%;
}

.share-entry {
    position: relative;
    background-color: #444;
    height: 100%;
}

.meet-entry {
    position: relative;
    background-color: #fff;
    height: 100%;

}

.learn-entry {
    position: relative;
    background-color: #444;
    height: 100%;

}

.legal-entry {
    position: relative;
    background-color: #fff;
    height: 100%;
}

.team-entry {
    position: relative;
    background-color: #444;
    height: 100%;

}

.contact-entry {
    position: relative;
    background-color: #fff;
    height: 100%;

}

.footer-entry {
    position: relative;
    background-color: #444;
    height: 100%;
}
