<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><html class="no-js"><![endif]-->

<html>
  <head>
    {{ partial "bootstrap.html" }}
    <link rel="stylesheet" href="/css/style-index.css">
  </head>
  <body>
    {{ partial "navbar-home.html" . }}

    <!-- home container -->
    <div class="container-fluid slide">
      <div class="home-entry row justify-items-center align-items-center">
        <div class="home-title col">
          <h1>{{ .Site.Title }}</h1>
          <h2>{{ .Site.Params.Hero.description }}</h2>
        </div>

        <div class="home-events col col-sm-5 rounded">
          {{ range first 3 .Site.RegularPages }}
          <a class="" href="{{ .Permalink }}">
            <div class="home-event rounded">
              <h4>{{ .Title }}</h4>
              <div class="home-even-date">{{ dateFormat "Monday, Jan 2, 2006" .Date }}</div>
              <div class="home-event-summary">{{ .Summary | markdownify}}</div>
            </div>
          </a>
          {{ end }}
          <div class="home-events-button">
            <a href="/events">
              <button type="button" class="btn btn-primary">
                See more...
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- services container -->
    <div class="slide container-fluid">
      <div class="services-entry row">
        <div class="col" style="height: 100%;">test</div>
        <div class="col" style="background-image=#000; height: 100%;"></div>
      </div>
    </div>


    <!-- share -->
    <div class="slide container-fluid">
      <div class="share-entry">
      </div>
    </div>
    
    <!-- meet -->
    <div class="slide container-fluid">
      <div class="meet-entry">
      </div>
    </div>
    
    <!-- learn -->
    <div class="slide container-fluid">
      <div class="learn-entry">
      </div>
    </div>

    <!-- legal -->
    <div class="slide container-fluid">
      <div class="legal-entry">
      </div>
    </div>
    
    <!-- team -->
    <div class="slide container-fluid">
      <div class="team-entry">
      </div>
    </div>
    
    <!-- contact -->
    <div class="slide container-fluid">
      <div class="contact-entry">
      </div>
    </div>
    
    <!-- footer -->
    <div class="slide container-fluid">
      <div class="footer-entry">
      </div>
    </div>
  </body>
</html>
