<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><html class="no-js"><![endif]-->

<html>
  <head>
    {{ partial "bootstrap.html" }}
    <link rel="stylesheet" href="/css/style-index.css">
  </head>
  <body>
    {{/* partial "navbar.html" */}}

    <!-- home container -->
    <div class="container-fluid slide">
      <div class="home-entry row justify-items-center align-items-center">
        <div class="home-title col">
          <h1>{{ .Site.Title }}</h1>
          <h2>{{ .Site.Params.Hero.description }}</h2>
        </div>

        <div class="home-events col col-sm-5 rounded">
          {{ range first 3 .Site.RegularPages }}
          <a class="" href="{{ .Permalink }}">
            <div class="home-event rounded">
              <h4>{{ .Title }}</h4>
              <p class="home-event-summary">{{ .Summary }}</p>
            </div>
          </a>
          {{ end }}
          <div class="home-events-button">
            <button type="button" class="btn btn-primary">See more...</button>
          </div>
        </div>
      </div>
    </div>


    <!-- services container -->
    <div class="slide container-fluid">
    </div>
    
  </body>
</html>
