<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><html class="no-js"><![endif]-->

<html>
  <head>
    {{ partial "bootstrap.html" }}
    <link rel="stylesheet" href="/css/style-index.css">
  </head>
  <body>
    {{ partial "navbar.html" }}

    <!-- home container -->
    <div class="slide home container-fluid" style="background-image: url();">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col">
          <h1>{{ .Site.Title }}</h1>
          <h2>{{ .Params.subtitle }}</h2>
        </div>
        <div class="col-6">
          {{ range first 3 .Site.RegularPages }}
          <div class="home-event">
            {{ .Title }}
          </div>
          {{ end }}
        </div>
      </div>
    </div>

    <!-- services container -->
    <div class="slide service container-fluid">
    </div>
    
  </body>
</html>
